@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~colby-scss/variables';

:global(.stories-container) {
  width: 100%;
}

.Stories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  @include make-col-ready;
  @include make-col(12);

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    @include make-col(6);
  }

  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    @include make-col(3);
  }
}

.item {
  margin-bottom: 1.5rem;
  padding-top: .5rem;

  &.hasFeaturedImage {
    padding-top: 0;
  }

  :global(.card-title) {
    font-size: 1.19rem;
  }

  :global(.card-body) {
    padding-bottom: .75rem;
  }
}

.categoriesContainer {
  padding-top: .375rem;

  > div:last-of-type .categoryButton {
    margin-bottom: 0;
  }
}

.categoryButton {
  cursor: pointer;
  border: none;
  background: $blue;
  margin-bottom: .25rem;
  text-transform: uppercase;
  white-space: normal;
  width: 100%;
}

.categories {
  width: 100%;
  text-align: right;

  > span {
    @include make-col-ready;
    @include make-col(12);
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.cardFooter {
  padding: 0 1.125rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > * {
    flex: 1 1 50%;
  }

  date {
    padding-right: .5rem;
    line-height: 1.19;
  }
}

.storiesHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0;
  align-items: center;
  justify-content: space-between;

  :global(.container) {
    padding: 0;
  }

  > div {
    @include make-col-ready;
    @include make-col(12);

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      @include make-col(6);
    }
  }
}

.categoryLabelText {
  font-size: .841rem;
  color: $gray-800;
  text-transform: uppercase;
  margin-right: .25rem;
}

.ellipsisContainer {
  min-height: 15rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 8rem;
}

.buttonContainer {
  text-align: center;
  width: 100%;
  padding-top: .75rem;

  button {
    transform: scale(.9);
    cursor: pointer;

    &:hover {
      transform: scale(.94);
    }
  }
}
