@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~colby-scss/variables';

:global(.stories-container) {
  width: 100%;
}

.Stories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  @include make-col(12);

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    @include make-col(6);
    @include make-col-ready;
  }

  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    @include make-col(4);
  }
}

.item {
  margin-bottom: 1.5rem;
  padding-top: .5rem;

  &.hasFeaturedImage {
    padding-top: 0;
  }

  date {
    display: block;
    margin-bottom: .375rem;
  }

  :global(.card-title) {
    margin-bottom: .25rem;
    font-size: 1.19rem;
  }

  :global(.card-body) {
    padding-bottom: .75rem;
  }
}

.categoriesContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: .375rem;
  width: 100%;
}

.categoryButtonContainer {
  display: flex;
  align-items: center;
  margin-bottom: .25rem;
  width: 49%;
  transition: opacity .2s, transform .2s;

  &:hover {
    opacity: .9;
    transform: scale(1.05);
  }
}

.categories label,
.categories select {
  max-width: 100%;
}

.categoryButton {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: none;
  background: $blue;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.categories {
  width: 100%;
  text-align: right;

  > span {
    display: flex;
    justify-content: center;
    width: 100%;

    @include make-col-ready;
    @include make-col(12);
  }
}

.cardFooter {
  padding: 0 1.125rem 1.125rem;
}

.storiesHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 0;
  width: 100%;

  :global(.container) {
    padding: 0;
  }

  > div {
    @include make-col-ready;
    @include make-col(12);

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      @include make-col(6);
    }
  }
}

.categoryLabelText {
  margin-right: .25rem;
  color: $gray-800;
  text-transform: uppercase;
  font-size: .841rem;
}

.ellipsisContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15rem;
  width: 100%;
  font-size: 8rem;
}

.buttonContainer {
  padding-top: .75rem;
  width: 100%;
  text-align: center;

  button {
    cursor: pointer;
    transform: scale(.9);

    &:hover {
      transform: scale(.94);
    }
  }
}
